.not-signed {
    display: none;
}
.login {
    margin: 15px 7vw 0 7vw;
    color: white;
    padding: 3vw;
    border-radius: 10px;
    background-color: #343434;
    font-size: 36px;
}



.signed {
    margin: 15px 7vw 0 7vw;
    color: white;
    padding: 3vw;
    border-radius: 10px;
    background-color: #343434;
}
.name {
    margin-bottom: 20px;
	font-size: 36px;
	@media (max-width: 720px) {
		font-size:24px;
	}
}
.set {
    margin-bottom: 10px;
}
/* .signed {
    display: none;
} */